# Системные файлы
.DS_Store
Thumbs.db
.cache
price_tracker.egg-info/PKG-INFO
price_tracker.egg-info/SOURCES.txt
price_tracker.egg-info/dependency_links.txt
price_tracker.egg-info/top_level.txt

# IDE и редакторы
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Зависимости
node_modules/
vendor/
/jspm_packages

# Сборка и логи
build/
dist/
out/
*.log
*.sqlite
npm-debug.log*

# Конфиденциальные данные
.env
.env.local
.env.*.local
*.pem
*.key

venv/
__pycache__/
data/
prices.db
.DS_Store
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.db
*.bak
*.tmp
*.swp
*.swo
*.swn

# tests 
scrapers/wildberries/catalog/parser_test_main.py
scrapers/wildberries/product/parser_test_main.py
test_tracker.py
data/prices.db

